.header__navbar {
  margin: 0 104px 0 0;
}
.header__link {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  margin-right: 33px;
}
.header__link_selected {
  border-bottom: 3px solid; 
  padding-bottom: 25px;
}




/*tablet*/

 @media screen and (max-width: 900px) {
  
  .header__navbar {
  margin: 0 40px 0 0;
  }
  .header__link {
  margin-right: 16px;
  }
  .header__link_selected {
  border-bottom: 3px solid; 
  padding-bottom: 18px;
  }
  
}

/*mobile*/

 @media screen and (max-width: 700px) {
  .header__navbar {
    position: relative;
    flex: 1 0 100%;
  }
  .header__navbar::before {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: #FFFFFF;
  opacity: .2;
  }
  .header__navbar .header__link {
    display: none;
  }
  .header__navbar_mobile-visible .header__link {
    display: block;
  }
  .header__link {
    max-width: 288px;
  margin: 30px 16px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  }
  .header__link_selected {
  border: none;

  padding: 0;
}
}