.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5; 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.header::after {
  flex: 1 0 100%;
  content: '';
  height: 1px;
  background-color: #FFFFFF;
  opacity: .2;
}
.header_black {
  color: #1A1B22;
}
.header__title {
  margin: 0 0 0 104px;
  font-family: 'robotoSlab', 'roboto', sans-serif ;
  font-size: 20px;
  font-weight: 700;
}

.header__auth-button {
  min-width: 0;
  padding: .7em 1em;
  margin: 0;
  border: 1px solid;
  border-color: inherit;
  border-radius: 100px;
}
.auth-button__name {
  align-self: top;
  overflow: hidden;
  line-height: .9;
  max-width: 160px;
  text-overflow: ellipsis;
  display: inline-block;
  margin: 0;
}
.auth-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
.auth-button__icon_hidden {
  display: none;
}
  .header__mobile-menu-btn {
    display: none;
  }

/*tablet*/

 @media screen and (max-width: 900px) {
  .header  {
    min-height: 66px;
    font-size: 16px;
  }
  .header__title {
  margin: 0 0 0 40px;
  }
}

/*mobile*/

 @media screen and (max-width: 700px) {
  .header {
    min-height: 56px;
    
  }

  .header_menu-opened {
    background-color: #1A1B22;
    border-radius: 0 0 16px 16px;
  }
  .header::after {
    content: none;
  }
  .header__mobile-menu-btn {
    padding: 0;
    border: none;
    background-color: inherit;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    align-self: center;
  }

  .header__mobile-menu-btn:hover {
    cursor: pointer;
  }
  .header__mobile-menu-btn_black {
    background-image: url('../../images/mobile-header-menu.svg');
  }
    .header__mobile-menu-btn_white {
    background-image: url('../../images/white-mobile-header-menu.svg');
  }
  .header__mobile-menu-btn-cross {
    background-image: url('../../images/mobile-header-cross.svg');
  }
  
  .header__title {
    line-height: 3.5;
    min-height: 56px;

  margin: 0 0 0 16px;
  font-size: 16px;
  }

  .header__auth-button {
    text-align: center;
    margin-top: 35px;
  }  
}